.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #000;
  color: white;
  padding: 10px 30px;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-weight: 500;
}

.navbar a:hover {
  text-decoration: underline;
}

.logo {
  font-weight: 800;
  color: white;
}

.logout-btn {
  background-color: #ff4d4f;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 6px 12px;
  margin-left: 16px;
  cursor: pointer;
}

.logout-btn:hover {
  background-color: #ff7875;
}
